.subSidebarBox {
    position: absolute;
    width: 80px;
    bottom: 41.8%;
    left: 110px;
    height: auto;
    background: #000;
    padding: 15px;
    border-radius: 5px;
    z-index: 9;
    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #000;
        bottom: 23px;
        left: -15px;
        transform: rotate(45deg);
    }
    .subSidebarContent {
        position: relative;
        z-index: 9;
        .gutter {
            margin-bottom: 15px;
        }
        .icon {
            svg {
                color: #fff;
            }
        }
    }
}
